* {
  margin:  0px;
  padding: 0px;
  font-size: 62.5%;
}

.title {
  font-size:   1.25em;
}

html, body {
  background: #000;
  color:      #FFE;
  font-size:   1em;
}
canvas {
  display: block;
  margin: 0 auto;
  border: #fff 2px double;
}

.aside {
  font-size: 1.3em;
  color: #ccb;
  float: right;
}
